<ion-view title="Register" hide-back-button="true">
  <ion-content class="has-header">
    
    <div class="alert alert-danger" role="alert" ng-show="error">
      {{ error }}
    </div>

    <form ng-submit="handleRegBtnClick()" role="form" ng-init="registrationForm = {}">
      <div class="list">

        <label class="item item-input">
          <input type="email"
            name="email"
            id="email"
            ng-model="registrationForm.email"
            placeholder="Email"
            required="required">
        </label>
        <label class="item item-input">
          <input type="password"
            name="password"
            id="password"
            ng-model="registrationForm.password"
            placeholder="Password"
            required="required">
        </label>
        <label class="item item-input">
          <input type="password"
            name="password_confirmation"
            id="password_confirmation"
            ng-model="registrationForm.password_confirmation"
            placeholder="Password Confirmation"
            required="required">
        </label>
        <div>
          <button class="button button-block button-positive" type="submit">Register</button>
        </div>

        <!-- Add this later:
        <div style="text-align: center">
          Or <a href="#/signup">Create an account</a>
        </div>
        -->

      </div>
    </form>
  </ion-content>
</ion-view>